# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# Local data & outputs
diary/
